<div id="goals">
	<div id="goal1-aside" class="flexableImage">
		<div class="text-center">
			<h4>About me</h4>
			<span></span>
			<p>
				I’m a professional programmer, an Upward Bound alumnus, a Dell Scholar, and I'm passionate about computer visualization and human computer interaction. Most of my work up to this point has been in creating parallel algorithms to improve 3D simulations.
			</p>
		</div>
	</div>
	<div id="goal1" class="flexableImage">
	</div>
	<div id="goal2" class="flexableImage">
	</div>
	<div id="goal2-aside" class="flexableImage">
		<div class="text-center">
			<h4>Education</h4>
			<span></span>
			<p>
				I earned my Honors Bachelors of Science in Computer Science at Idaho State University in December 2017. I’m currently pursuing a PhD in Computing in Graphics and Visualization at the University of Utah
			</p>
		</div>
	</div>
	<div id="goal3-aside" class="flexableImage">
		<div class="text-center">
			<h4>Eget Integer sit amet.</h4>
			<span></span>
			<p>Ras Bestibulum</p>
		</div>
	</div>
	<div id="goal3" class="flexableImage">
	</div>
	<div id="goal4" class="flexableImage">
	</div>
	<div id="goal4-aside" class="flexableImage">
		<div class="text-center">
			<h4>Eget Integer sit amet.</h4>
			<span></span>
			<p>Ras Bestibulum</p>
		</div>
	</div>
</div>
